{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>Employees</b> 
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add New Employee</button>
                </h2>

                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>

                    <tr>
                        <td>01</td>
                        <td>Pere</td>
                        <td>pere@pere.com</td>
                        <td>56124521</td>
                        <td>
                            <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                            <a href="#" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?')">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add an employee</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="" method="POST">
                        <div class="form-group">
                          <label>Name:</label>
                          <input class="form-control" type="text" name="name" required="1">
                          <label>Email:</label>
                          <input class="form-control" type="email" name="email" required="1" >
                          <label>Phone:</label>
                          <input class="form-control" type="number" name="phone" required="1">
                        </div>
           
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button class="btn btn-primary" type="submit">Add Employee</button>
                    </div>
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}